<div class="field">
  <%= f.label :sex %><br />
  <%= f.radio_button :sex, 1 %><%= f.label :sex_1, 'man' %>
  <%= f.radio_button :sex, 2 %><%= f.label :sex_2, 'woman' %>
</div>

<div class="field">
  <%= f.label :birthday %><br />
  <%= f.date_field :birthday, autofocus: true %>
</div>

<div class="field">
  <%= f.label :image %><br />
  <%= f.file_field :image, autofocus: true %>
</div>