<% if user_signed_in? %>
  <div class="panel">
    <% if current_user.nickname? %>
      <h5><a href="#"><%= current_user.nickname %></a></h5>
    <% else %>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <% end %>
    <% if current_user.image? %>
      <a href="#"><%= image_tag current_user.image.to_s %></a>
    <% else %>
      <img src="http://placehold.it/300x240&amp;text=[img]">
    <% end %>
    <div class="section-container vertical-nav" data-section="" data-options="deep_linking: false; one_up: true">
      <section class="section">
        <h5 class="title"><%= link_to 'Movie', movies_path %></h5>
      </section>
      <section class="section">
        <h5 class="title"><%= link_to 'New', new_movie_path %></h5>
      </section>
    </div>
  </div>
<% else %>
  <div class="panel">
    <div class="row">
      <div class="large-12 columns">
        <%= link_to 'LOGIN', user_session_path, class: 'button expanded large' %>
      </div>
      <div class="large-12 columns">
        <%= link_to 'START Chronicle Circle', new_user_registration_path, class: 'button success expanded large' %>
      </div>
    </div>
  </div>
<% end %>
