<% content_for :title do %>映画一覧<% end %>

<div class="row">

  <div class="large-3 medium-4 columns hide-for-small-only height-max">
    <div class="show-for-medium-only">
      <%= render 'layouts/profile' %>
      <%= render 'layouts/tags' %>
    </div>
    <div>
      <%= render 'layouts/ad' %>
    </div>
  </div>

  <div class="large-6 medium-8 columns feed-list">
    <% if @movies.empty? %>
      0件
    <% else %>
      <% @movies.each do |movie| %>
        <%= render 'list_line', movie: movie %>
        <hr>
      <% end %>
    <% end %>
  </div>

  <div class="large-3 columns show-for-large">
    <div>
      <%= render 'layouts/tags' %>
    </div>
  </div>

</div>
