<% content_for :title do %><%= @movie.name_jp %><% end %>

<div class="row">

  <div class="large-3 columns">
    <div class="panel">
      <h4>
        <%= @movie.name_jp %> <br />
        (<%= @movie.name %>)
      </h4>
      <div><%= link_to 'Comments', movie_histories_path(@movie.id) %></div>
      <% if user_signed_in? %>
        <div><%= link_to 'Done', new_movie_history_path(@movie.id), :class => 'modal' %></div>
      <% end %>
      <% if user_signed_in? && current_user.id === 1 %>
        <div><%= link_to 'Edit', edit_movie_path %></div>
      <% end %>
      <% if @movie.image? %>
        <a href="#"><%= image_tag @movie.image.to_s %></a>
      <% else %>
        <img src="http://placehold.it/300x240&amp;text=[img]">
      <% end %>
    </div>
    <div>
      <br />
      <%= render 'layouts/tags' %>
    </div>
    <% if !@movie.time.blank? %>
      <div>
        <small>時間:<%= @movie.time %>分</small>
      </div>
    <% end %>
    <% if !@movie.original.blank? %>
      <div>
        <small>原作:<%= @movie.original %>分</small>
      </div>
    <% end %>
  </div>

  <div class="large-6 columns">

    <ul class="accordion" data-accordion>
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">イントロダクション</a>
        <div class="accordion-content" data-tab-content>
          <small><%= @movie.introduction %></small>
        </div>
      </li>
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">ストーリー</a>
        <div class="accordion-content" data-tab-content>
          <small><%= @movie.story %></small>
        </div>
      </li>
    </ul>
    
  </div>

  <div class="large-3 columns">
    <%= render 'layouts/profile' %>

    <%= render 'layouts/ad' %>
  </div>
</div>
