<div class="row">
  <div class="col s12 l6 offset-l3">
    <div class="card blue lighten-5 pt10 pb10 pl10 pr10">
      <h3>Edit <%= resource_name.to_s.humanize %></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          </div>
        </div>
      
        <div class="row center">
          <div class="input-field col s12">
            <%= f.submit "Update", class: 'waves-effect waves-light btn-large mt5' %>
          </div>
        </div>
      <% end %>
      
      <h4>Cancel my account</h4>
      
      <div class="row center">
        <div class="input-field col s12">
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
              data: { confirm: "Are you sure?" }, method: :delete, class: 'waves-effect waves-light btn-large mt5' %></p>
        </div>
      </div>
      
      <%= link_to "Back", :back %>

    </div>
  </div>
</div>