<div class="navbar-fixed">
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to root_path, class: "brand-logo" do %>
          <i class="material-icons">cloud</i>ChronicleClue</a>
        <% end %>   
        <%= link_to "#", class: ["right", "sidenav-trigger"], data: { target: "slide-out" } do %>
          <i class="material-icons">menu</i>
        <% end %>   
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to 'Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>