<li>
  <div class="user-view">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#name"><span class="white-text name">John Doe</span></a>
    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div>
</li>
<li class="search">
  <div class="search-wrapper">
    <input id="search" placeholder="Search"><i class="material-icons">search</i>
    <div class="search-results"></div>
  </div>
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">home</i>HOME</a>
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">notifications</i>NOTIFICATIONS</a>
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">label</i>LABELS</a>
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">bookmark</i>BOOKMARKS</a>
  <% end %>   
</li>
<li><div class="divider"></div></li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">account_circle</i>PROFILE</a>
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">settings</i>SETTING</a>
  <% end %>   
</li>