<li>
  <div class="user-view">
    <div class="background">
      <%= image_tag 'logo.png', :alt => 'logo' %>
    </div>
    <a href="#user"><%= image_tag 'profile_blank.png', :alt => 'logo', :class => 'circle' %></a>
    <a href="#name"><span class="white-text name">John Doe</span></a>
    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div>
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">home</i>HOME
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">notifications</i>NOTIFICATIONS
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">label</i>LABELS
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">bookmark</i>BOOKMARKS
  <% end %>   
</li>
<li>
  <%= link_to reviews_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">av_timer</i>HISTORY
  <% end %>   
</li>
<li>
  <%= link_to new_review_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">add</i>ADD
  <% end %>   
</li>
<li><div class="divider"></div></li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">account_circle</i>PROFILE
  <% end %>   
</li>
<li>
  <%= link_to root_path, data: {"turbolinks"=>false} do %>
    <i class="material-icons">settings</i>SETTING
  <% end %>   
</li>