<!DOCTYPE html>
<html>
  <head>
    <title>ChronicleClue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <header>
      <%= render :partial => "layouts/navbar" %>

      <ul id="slide-out" class="sidenav">
        <%= render :partial => "layouts/sidenavi" %>
      </ul>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

  </body>
</html>