<%= form_for(@movies_history, :url => @path) do |f| %>
  <% if @movies_history.errors.any? %>
    <div id="error_explanation">
      <div class="alert callout">
        <p><i class="fi-alert"></i> There are some errors in your form.</p>

        <% @movies_history.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :score, Common::scores, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.date_field :view_date %>
  </div>

  <div class="field">
    <%= f.text_area :comment, rows: "5" %>
  </div>

  <div class="field">
    <%= f.select :view_place, Common::locations.invert, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.select :view_with, Common::people.invert, :include_blank => true %>
  </div>

  <%= f.hidden_field :movie_id, :value => @movie.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit "Review", class: 'button' %>
  </div>
<% end %>
