<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :content_id %>
    <%= form.text_field :content_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :watch_date %>
    <%= form.date_select :watch_date %>
  </div>

  <div class="field">
    <%= form.label :watch_method_id %>
    <%= form.text_field :watch_method_id %>
  </div>

  <div class="field">
    <%= form.label :watch_with_id %>
    <%= form.text_field :watch_with_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
