<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :user_id, current_user.id %>

  <div class="input-field">
    <%= form.label :content %>
    <%= form.search_field :content, class: "autocomplete" %>
    <%= hidden_field_tag :content_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <p class="range-field">
      <%= form.range_field :score, min: 0, max: 100, step: 1 %>
    </p>
  </div>

  <div class="input-field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="input-field">
    <%= form.label :watch_date %>
    <%= form.text_field :watch_date, class: "datepicker" %>
  </div>

  <div class="input-field">
    <%= form.collection_select :watch_method_id, WatchMethod.all, :id, :name_jpn, {include_blank: "---", prompt: false } %>
    <%= form.label :watch_method_id %>
  </div>

  <div class="input-field">
    <%= form.collection_select :watch_method_id, WatchWith.all, :id, :name_jpn, {include_blank: "---", prompt: false } %>
    <%= form.label :watch_with_id %>
  </div>

  <div class="input-field">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
